#openModal.modalDialogcustom.popup_container
    div.contentpopap 
        .popapwrapper.mainpopap
            .sect1  
            .sect2  
                .sect2__title   
                    span Romance
                //- .sect2__map
                //-     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18464.00822307843!2d-80.22045486006267!3d25.742267074260972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b65d4fea9813%3A0xf860ad840edd24e1!2z0JLQuNC70LvQsCDQktC40YHQutCw0LnRjw!5e0!3m2!1sru!2sua!4v1540370727737" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                .sect2__minititle
                    span — package —
                .sect2__text
                    p The Romance Package includes full service for a couple and two guests in the waterfront restaurant.
            .sect3
                .sect3__title
                    span Include:
                .sect3__text
                    span — Wedding planning session (by phone);
                    span — Transportation to event location in Miami;
                    span — Fully equipped area in the restaurant overlooking the bay;
                    span — Traditional decorations (red-carpet treatment, arch, flowers, decoration details, box for rings, decorated table for a formal dinner);
                    span — Licensed marriage registration representative;
                    span — Bouquet for the bride and boutonniere for the groom;
                    span — Photographer for 1 hour, including 10 processed photos;
                    span — Dinner for four persons on the restaurant’s prix-fixe menu with three changes and meat, fish, and vegetarian options ($100 + tax + service fee for each additional guest);
                    span — Music;
                    span — Wedding cake (6-inch diameter in classic style)—your choice of three options:
                .sect3__blockfoto.sect3__blockfoto_mrg
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap2.png", alt="")
                        .blockfotoitem__title   
                            span vanilla
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap1.png", alt="")
                        .blockfotoitem__title   
                            span Berries 
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap3.png", alt="")
                        .blockfotoitem__title   
                            span chocolate
                //- .sect3__text
                //-     span — Lunch for 4 persons on the prefix menu from the restaurant with three changes and three choices - Meat, Fish or vegetarian options (if additional guests are scheduled for the ceremony and dinner, for each person plus $ 100);
                //-     span — Bottle of champagne;
                //-     span — Music.
                .sectionfour__blocknumber
                    span
                        | 2 990$ 
                        span + TAX
            .button.button_greysm#btn8
                a(href="#")
                    span.order order
                
            a.close1.closejq#clos(href='#close', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal.modalDialogcustom.popup_container2
    div.contentpopap 
        .popapwrapper.mainpopap
            .sect1  
            .sect2  
                .sect2__title   
                    span Tenderness
                //- .sect2__map
                //-     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28751.01395735716!2d-80.22205365758454!3d25.74158930560067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b65d4fea9813%3A0xf860ad840edd24e1!2z0JLQuNC70LvQsCDQktC40YHQutCw0LnRjw!5e0!3m2!1sru!2sua!4v1540370942468" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                .sect2__minititle
                    span — package —
                .sect2__text
                    p The Tenderness Package includes full service for a couple and two guests in the park.
            .sect3
                .sect3__title
                    span Include:
                .sect3__text
                    span — Wedding planning session (by phone);
                    span — Transportation to event location in Miami;
                    span — Fully equipped area in the park;
                    span — Decoration of the event venue in Boho style (carpet treatment, arch, flowers, decoration details, box for rings, four decorated chairs, decorated table for snacks and a cake);
                    span — Licensed marriage registration representative;
                    span — Bouquet for the bride and boutonniere for the groom;
                    span — Photographer for 1 hour, including 10 processed photos;
                    span — Wedding cake (8-inch diameter in tropical style)—your choice of three options:
                .sect3__blockfoto
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap2.png", alt="")
                        .blockfotoitem__title   
                            span vanilla
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap1.png", alt="")
                        .blockfotoitem__title   
                            span Berries 
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap3.png", alt="")
                        .blockfotoitem__title   
                            span chocolate
                .sect3__text
                    span — Light snacks and fruit with soft drinks ($15 for each additional guest);
                    span — Music (selections can be made in advance);
                .sectionfour__blocknumber
                    span
                        | 2 990$ 
                        span + TAX
            .button.button_greysm#btn9
                a(href="#")
                    span.order order
                
            a.close1.closejq2#clos(href='#close', title='Close') 
                img(src="./images/close.png", alt="" width="23")


#openModal.modalDialogcustom.popup_container3
    div.contentpopap 
        .popapwrapper.mainpopap
            .sect1  
            .sect2  
                .sect2__title   
                    span On the Sand Package
                //- .sect2__map
                //-     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28751.01395735716!2d-80.22205365758454!3d25.74158930560067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b68440af65cf%3A0xe7e613a95192a820!2z0KjQvtC_0YEg0Y3RgiDQnNGN0YDQuCDQkdGA0LjQutC10LvQuyDQktC40LvQu9C40LTQtg!5e0!3m2!1sru!2sua!4v1540370978307" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                .sect2__minititle
                    span — package —
                .sect2__text
                    p The On the Sand Package includes full service for a couple and two guests on the beach.
            .sect3
                .sect3__title
                    span Include:
                .sect3__text
                    span — Wedding planning session (by phone);
                    span — Transportation to event location in Miami;
                    span — Fully equipped reception area on the beach;
                    span — Decoration of the event venue in tropical style (carpet treatment, arch, flowers, decoration details, box for rings, four chairs, snack table);
                    span — Licensed marriage registration representative;
                    span — Bouquet for the bride and boutonniere for the groom;
                    span — Photographer for 1 hour, including 10 processed photos;
                    span — Wedding cake (8-inch diameter in tropical style)—your choice of three options:
                .sect3__blockfoto
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap2.png", alt="")
                        .blockfotoitem__title   
                            span vanilla
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap1.png", alt="")
                        .blockfotoitem__title   
                            span Berries
                    .blockfotoitem
                        .blockfotoitem__foto
                            img(src="./images/popap3.png", alt="")
                        .blockfotoitem__title   
                            span chocolate
                .sect3__text
                    span — Light snacks and fruit, soft drinks ($15 for each additional guest);
                    span — Music;
                .sectionfour__blocknumber
                    span
                        | 3 290$ 
                        span + TAX
            .button.button_greysm#btn10
                a(href="#")
                    span.order order
                
            a.close1.closejq3#clos(href='#close', title='Close') 
                img(src="./images/close.png", alt="" width="23")



#openModal2.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.callback
            span.title Call back
            .callback__text
                p
                    |  Fill in the fields and we will contact you. Or call us at number
                    span
                        | (093) 555 73 78

            .callback__blockinput
                input(type="tel" placeholder="Phone")
                input(type="text" placeholder="Name")
            
            a.close1#close2(href='#close2', title='Close') 
                img(src="./images/close.png", alt="" width="23")
            
            .button.button_greysm
                a(href="#")
                    span.order order


#openModal3.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.bookit
            span.title Book it now
            .bookit__text
                span Fill in the fields and we will contact you. 
            .bookit__blockcontent
                p плагин бронирования
            
            a.close1#close3(href='#close3', title='Close') 
                img(src="./images/close.png", alt="" width="23")
            
            .button.button_greysm
                a(href="#")
                    span.order order

#openModal4.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.thank
            span.title  thank you
            .thank__text
                span
                    | for your order 
                    br
                    |  Our manager will contact you soon
            a.close1#close4(href='#close2', title='Close') 
                img(src="./images/close.png", alt="" width="23")
            

        
#openModal11.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="24" height="20")
                    use(xlink:href="./images/sprite/sprite.svg#1")
            .sect3
                .sect3__text
                    span — Valid marriage license issued in the State of Florida (We will send detailed instructions.);
                    span — Identity card (passport or valid driver’s license).
            a.close1#close11(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal12.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="16" height="21")
                    use(xlink:href="./images/sprite/sprite.svg#2")
            .sect3
                .sect3__text
                    span — The ceremony takes an hour from the moment a couple arrives at the location.
            a.close1#close12(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal13.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="34" height="21")
                    use(xlink:href="./images/sprite/sprite.svg#3")
            .sect3
                .sect3__text
                    span — No. Airline tickets and accommodations are the client’s responsibility.
            a.close1#close13(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal14.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="18" height="23")
                    use(xlink:href="./images/sprite/sprite.svg#4")
            .sect3
                .sect3__text
                    span — The couple receives a document from the notary about the conduct of procedure. Final marriage registration documents are mailed to the couple.
            a.close1#close14(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal15.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="21" height="21")
                    use(xlink:href="./images/sprite/sprite.svg#5")
            .sect3
                .sect3__text
                    span — Yes, you can, for an additional fee. Refer to the packages for prices.
            a.close1#close15(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal16.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="21" height="21")
                    use(xlink:href="./images/sprite/sprite.svg#6")
            .sect3
                .sect3__text
                    span — If you wish to transfer your selected date/time to another available slot in the company’s timetable, you must do so at least 10 business days in advance of the original slot.
            a.close1#close16(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal17.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="21" height="21")
                    use(xlink:href="./images/sprite/sprite.svg#7")
            .sect3
                .sect3__text
                    span — We provide one-way transportation to the ceremony. You must arrange your own departure.
            a.close1#close17(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal18.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="21" height="21")
                    use(xlink:href="./images/sprite/sprite.svg#8")
            .sect3
                .sect3__text
                    span — You must inform the manager about this no fewer than 5 business days before the day of the ceremony.
            a.close1#close18(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal19.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="11" height="21")
                    use(xlink:href="./images/sprite/sprite.svg#9")
            .sect3
                .sect3__text
                    span — ????????
            a.close1#close19(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")

#openModal20.modalDialogcustom.position
    div.contentpopap 
        .popapwrapper.faqmodal 
            .faqmodal__icon
                svg(width="27" height="19")
                    use(xlink:href="./images/sprite/sprite.svg#10")
            .sect3
                .sect3__text
                    span — You can have a single-sex marriage ceremony with our company. The law adopted on June 26, 2015, permits us to do so in accordance with current U.S. legislation.
            a.close1#close20(href='#close11', title='Close') 
                img(src="./images/close.png", alt="" width="23")
