extends ../template

block varibles
    - var title = "Wedding Paradise Getaway"

block content
   
    .content
        header.headercontent
            .wrapper
                .header
                    .header__left
                        .header__menublock#trust
                        .header__menu
                            a(href="./index.html") home
                        .header__menu
                            a(href="#about") about us
                        .header__menu
                            a(href="#packages") packages
                        .header__menu
                            a(href="#fqu") faq
                        .header__menu
                            a(href="#contact") contacts   
                    .header__right
                        .header__phoneblock
                            .header__imgblock   
                                img(src="./images/call.png", alt="")
                                .header__phonetext
                                    span Phone:
                            .header__number
                                span 
                                    a(href="tel:+18885851575") +1 888 585 1575
                        .header__buttonblock
                            .button#btncall
                                a(href="javascript: void(0);")
                                    span call me
                    //- a(href="./index.html").header__logo
                    //-     img(src="./images/logo.png", alt="")
                    .header__burger.humburger#humburger 
                        .header__line1#line1
                        .header__line2#line2
                        .header__line3#line3
                    .header__menuadpt#menuadpt 
                        .header__menu.header__menu_adptitem
                            a(href="./index.html") home
                        .header__menu.header__menu_adptitem#itemmenu
                            a(href="#about") about us
                        .header__menu.header__menu_adptitem#itemmenu1
                            a(href="#packages") packages
                        .header__menu.header__menu_adptitem#itemmenu2
                            a(href="#fqu") faq
                        .header__menu.header__menu_adptitem#itemmenu3
                            a(href="#contact") contacts
                        .header__contacts
                            .header__phoneblock
                                .header__imgblock   
                                    img(src="./images/call.png", alt="")
                                    .header__phonetext
                                        span Phone:
                                .header__number
                                    span +1 888 585 1575
                            .header__buttonblock
                                .button#btncalladapt
                                    a(href="javascript: void(0);")
                                        span call me
                    

        section.sectiononecontent
            .wrapper
                .sectionone
                    .sectionone__titleblock
                        span.title.title_big In love
                            br.mobtext
                            | we trust
                    a(href="./index.html").header__logo
                        img(src="./images/logo.png", alt="")

        section.sectiontwocontent
            .wrapper
                .sectiontwo
                    .sectiontwo__left
                        .sectiontwo__titleblock
                            span.title#about We will create an unforgettable wedding for you!
                        .sectiontwo__descriptionblock
                            .sectiontwo__blocktext1
                                p Imagine a beautiful ceremony for you and your beloved in the presence of your closest guests. We offer a unique solution for those who don’t wish to wait a long time, who don’t want to deal with tiresome arrangements, or who want to stay within a budget.
                            .sectiontwo__blocktext2
                                p Choose from one of our complete wedding and reception packages, featuring three locations and decoration styles.
                        .sectiontwo__buttonblock
                            button(type='button', data-toggle='modal', data-target='#exampleModalLong').button.button_greyb
                                a(href="javascript: void(0);")
                                    span.order order
                            
                                
                    .sectiontwo__right 

        section.sectionthreecontent
            .wrapper
                .sectionthree
                    .sectionthree__blocktitle
                        span.title Benefits for our clients:
                    .sectionthree__blockblocks
                        .sectionthree__block1
                            .sectionthree__blockimg
                                img(src="./images/balloon.png", alt="")
                            .j
                                .sectionthree__blockminititle
                                    span Be stress-free 
                                .sectionthree__blockdescription
                                    //- span  Aenean commodo ligula eget dolor. Aenean massa.
                        .sectionthree__block2
                            .sectionthree__blockimg
                                img(src="./images/honeymoon.png", alt="")
                            .j
                                .sectionthree__blockminititle
                                    span  Escape into the summer 
                                .sectionthree__blockdescription
                                    //- span  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        .sectionthree__block3
                            .sectionthree__blockimg
                                img(src="./images/calendar.png", alt="") 
                            .j
                                .sectionthree__blockminititle
                                    span Save time   
                                .sectionthree__blockdescription
                                    //- span  Aenean commodo ligula eget dolor. Aenean massa. 

        section.sectionfourcontent
            .wrapper
                .sectionfour
                    .sectionfour__blocktitle    
                        span.title#packages Your packages :
                        .sectionfour__string
                    
                    .sectionfour__blockblocks
                        .sectionfour__block
                            .sectionfour__blockimg
                                img(src="./images/pac1.jpeg", alt="")
                            .sectionfour__blockcontent
                                .sectionfour__blockminititle
                                    span.title.title_m Romance
                                .sectionfour__blockdescription.sectionfour__blockdescription_mrg2
                                    span The Romance Package includes full service for a couple and two guests in the waterfront restaurant.
                                .sectionfour__blocknumber
                                    span
                                        | $ 2,790
                                        span +TAX
                                .sectionfour__blockbuttons
                                    .sectionfour__button1
                                        .button.button_white.b-container.elem#btn
                                            a(href="javascript: void(0);", class="info")
                                                span.order more info
                                        //- #popup1.b-popup
                                        //-     .b-popup-content
                                        //-         div 
                                        //-             .ffccffdcfc scscscscsc
                                        //-             .d scscsdcscsdsd
                                        //-         a(href='javascript:PopUpHide()') Hide popup
                                    .sectionfour__button2
                                        .button.button_greysm.btn6
                                            a(href="javascript: void(0);")
                                                span.order order
                    
                        .sectionfour__block
                            .sectionfour__blockimg
                                img(src="./images/pac3.jpeg", alt="")
                            .sectionfour__blockcontent
                                .sectionfour__blockminititle
                                    span.title.title_m Tenderness
                                .sectionfour__blockdescription
                                    span The Tenderness Package includes full service for a couple and two guests in the park.
                                .sectionfour__blocknumber
                                    span
                                        | $ 3,290
                                        span +TAX
                                .sectionfour__blockbuttons
                                    .sectionfour__button1
                                        .button.button_white.elem2#btn2
                                            a(href="javascript: void(0);", class="info")
                                                span.order more info
                                                    
                                                
                                    .sectionfour__button2
                                        .button.button_greysm.btn5
                                            a(href="javascript: void(0);")
                                                span.order order
                        .sectionfour__block
                            .sectionfour__blockimg
                                img(src="./images/pac2.jpeg", alt="")
                            .sectionfour__blockcontent
                                .sectionfour__blockminititle
                                    span.title.title_m On the Sand Package
                                .sectionfour__blockdescription.sectionfour__blockdescription_mrg
                                    span The On the Sand Package includes full service for a couple and two guests on the beach.
                                .sectionfour__blocknumber
                                    span
                                        | $ 3,790
                                        span +TAX
                                .sectionfour__blockbuttons
                                    .sectionfour__button1
                                        .button.button_white.elem3#btn3 
                                            a(href="javascript: void(0);", class="info")
                                                span.order more info
                                        //- #openModal2.modalDialog
                                        //-     div
                                        //-         a.close1(href='#close', title='Close') X
                                        //-         |       Сюда код или текст
                                    .sectionfour__button2
                                        .button.button_greysm.btn4
                                            a(href="javascript: void(0);")
                                                span.order order

        section.sectionfivecontent
            .wrapper
                .sectionfive
                    .sectionfive__blocktitle
                        span.title Reviews from Happy Clients
                        .sectionfour__string
                    .slidercustom
                        .swiper-container
                            .swiper-wrapper 
                                .swiper-slide
                                    .sectionfive__blockminititle
                                        span.title.title_mini Anita Needs
                                        .sectionfive__bottomtext
                                            span — wif
                                    .sectionfive__blockdescription
                                        p I hardly believed that someone could surprise me, but so you did. I didn’t expect formalities would be so simple and fast.
                                    .sectionfive__sliderblock.slider#slider  
                                        .my-gallery.my-gallery_slider
                                            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                                a(href='./images/3-big.jpg', itemprop='contentUrl', data-size='561x370')
                                                    img(src='./images/3-big.jpg', itemprop='thumbnail', alt='Image description')
                                            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                                a(href='./images/3-big.jpg', itemprop='contentUrl', data-size='561x370')
                                                    img(src='./images/3-big.jpg', itemprop='thumbnail', alt='Image description')
                                            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                                a(href='./images/3-big.jpg', itemprop='contentUrl', data-size='561x370')
                                                    img(src='./images/3-big.jpg', itemprop='thumbnail', alt='Image description')
                                            
                                        
                               
                                .swiper-slide
                                    .sectionfive__blockminititle
                                        span.title.title_mini Anita Needs
                                        .sectionfive__bottomtext
                                            span — wif
                                    .sectionfive__blockdescription
                                        p I hardly believed that someone could surprise me, but so you did. I didn’t expect formalities would be so simple and fast.
                                    .sectionfive__sliderblock.slider#slider  
                                        .my-gallery.my-gallery_slider
                                            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                                a(href='./images/3-big.jpg', itemprop='contentUrl', data-size='561x370')
                                                    img(src='./images/3-big.jpg', itemprop='thumbnail', alt='Image description')
                                            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                                a(href='./images/3-big.jpg', itemprop='contentUrl', data-size='561x370')
                                                    img(src='./images/3-big.jpg', itemprop='thumbnail', alt='Image description')
                                            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                                a(href='./images/3-big.jpg', itemprop='contentUrl', data-size='561x370')
                                                    img(src='./images/3-big.jpg', itemprop='thumbnail', alt='Image description')
                                            
                                       
                        .sectionfive__buttonblock
                            .sectionfive__button.swiper-button-prev#slidprev
                                img(src="./images/l.png", alt="")
                            .sectionfive__button.swiper-button-next#slidnext
                                img(src="./images/r.png", alt="")

        section.sectionsixcontent
            .wrapper
                .sectionsix 
                    .sectionsix__blocktitle
                        span.title Happy moments of Our Clients
                        .sectionfour__string
                    .sectionsix__blockfotos
                        .my-gallery.grid#gallery(itemscope='', itemtype='')             
                            figure.my-gallery__foto1.grid-item(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                a(href='./images/1-big.jpg', itemprop='contentUrl', data-size='561x370')
                                    img(src='./images/1-big.jpg', itemprop='thumbnail', alt='Image description')
                                //- figcaption(itemprop='caption description') Image caption  1

                            figure.my-gallery__foto1.my-gallery__foto1_twoo.grid-item(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                a(href='./images/5-big.jpg', itemprop='contentUrl', data-size='561x765')
                                    img(src='./images/5-big.jpg', itemprop='thumbnail', alt='Image description')
                                //- figcaption(itemprop='caption description') Image caption 3 

                            figure.my-gallery__figur.my-gallery__foto1.grid-item(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                a(href='./images/4-big.jpg', itemprop='contentUrl', data-size='561x370')
                                    img(src='./images/4-big.jpg', itemprop='thumbnail', alt='Image description')
                                //- figcaption(itemprop='caption description') Image caption 2                
                                              
                            figure.my-gallery__foto1.grid-item(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                a(href='./images/3-big.jpg', itemprop='contentUrl', data-size='561x370')
                                    img(src='./images/3-big.jpg', itemprop='thumbnail', alt='Image description')
                                //- figcaption(itemprop='caption description') Image caption 4

                            figure.my-gallery__foto1.grid-item(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                                a(href='./images/2-big.jpg', itemprop='contentUrl', data-size='561x370')
                                    img(src='./images/2-big.jpg', itemprop='thumbnail', alt='Image description')
                                //- figcaption(itemprop='caption description') Image caption 5
                
                        .pswp(tabindex='-1', role='dialog', aria-hidden='true')
                            //
                                Background of PhotoSwipe.
                                It's a separate element, as animating opacity is faster than rgba().
                            .pswp__bg
                            // Slides wrapper with overflow:hidden.
                            .pswp__scroll-wrap
                                // Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory.
                                // don't modify these 3 pswp__item elements, data is added later on.
                                .pswp__container
                                    .pswp__item
                                    .pswp__item
                                    .pswp__item
                                // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
                                .pswp__ui.pswp__ui--hidden
                                    .pswp__top-bar
                                        // Controls are self-explanatory. Order can be changed.
                                        .pswp__counter
                                        button.pswp__button.pswp__button--close(title='Close (Esc)')
                                        button.pswp__button.pswp__button--share(title='Share')
                                        button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
                                        button.pswp__button.pswp__button--zoom(title='Zoom in/out')
                                        // Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR
                                        // element will get class pswp__preloader--active when preloader is running
                                        .pswp__preloader
                                            .pswp__preloader__icn
                                                .pswp__preloader__cut
                                                    .pswp__preloader__donut
                                    .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                                        .pswp__share-tooltip
                                    button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
                                    button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
                                    .pswp__caption
                                        .pswp__caption__center
                            

        section.sectionsevencontent
            .wrapper
                .sectionseven 
                    .sectionseven__blocktitle
                        span.title#fqu Questions
                        .sectionfour__string
                    .sectionseven__blockblocks
                        .sectionseven__block1.sectionseven__block#block1
                            p What documents are required for the marriage registration ceremony?
                            img(src="./images/airplane.png", alt="" width="25" height="25")
                            //- svg.w(width="24" height="20")
                            //-     use(xlink:href="./images/sprite/sprite.svg#1")
                        .sectionseven__block2.sectionseven__block#block2
                            p How long does the ceremony last?
                            //- img(src="./images/sevenicon2.png", alt="")
                            svg.w(width="16" height="21")
                                use(xlink:href="./images/sprite/sprite.svg#2")

                        .sectionseven__block3.sectionseven__block#block3
                            p Does the package include airline tickets and accommodations?
                            //- img(src="./images/sevenicon3.png", alt="")
                            svg
                                use(xlink:href="./images/sprite/sprite.svg#3")
                        .sectionseven__block4.sectionseven__block#block4
                            p What documents certifying the marriage does a couple receive after the ceremony?
                            //- img(src="./images/sevenicon4.png", alt="")
                            svg
                                use(xlink:href="./images/sprite/sprite.svg#4")
                        .sectionseven__block5.sectionseven__block#block5
                            p Can we increase the number of guests?
                            //- img(src="./images/sevenicon5.png", alt="")
                            svg
                                use(xlink:href="./images/sprite/sprite.svg#5")
                        .sectionseven__block6.sectionseven__block#block6
                            p Can we postpone the starting date/time of the ceremony?
                            //- img(src="./images/sevenicon6.png", alt="")
                            svg
                                use(xlink:href="./images/sprite/sprite.svg#6")
                        .sectionseven__block7.sectionseven__block#block7
                            p Is return transportation provided?
                            //- img(src="./images/sevenicon7.png", alt="")
                            svg
                                use(xlink:href="./images/sprite/sprite.svg#7")
                        .sectionseven__block8.sectionseven__block#block8
                            p What if I have a food allergy?
                            //- img(src="./images/sevenicon8.png", alt="")
                            svg
                                use(xlink:href="./images/sprite/sprite.svg#8")
                        .sectionseven__block9.sectionseven__block#block9
                            p Can I get my money back in case of bad weather?
                            //- img(src="./images/sevenicon9.png", alt="")
                            svg
                                use(xlink:href="./images/sprite/sprite.svg#9")
                        .sectionseven__block10.sectionseven__block#block10
                            p Can we have a single-sex marriage ceremony in Florida?
                            //- img(src="./images/sevenicon10.png", alt="")
                            svg
                                use(xlink:href="./images/sprite/sprite.svg#10")

                        .sectionseven__block11.sectionseven__block.blockdop#block11
                            p Where is your wedding venue?
                            //- img(src="./images/sevenicon9.png", alt="")
                            svg(width='20')
                                use(xlink:href="./images/sprite/sprite.svg#9")
                        .sectionseven__block12.sectionseven__block.blockdop#block12
                            p If we are flying to Florida, what airports should we use?
                            //- img(src="./images/sevenicon9.png", alt="")
                            svg(width='20')
                                use(xlink:href="./images/sprite/sprite.svg#9")
                        .sectionseven__block13.sectionseven__block.blockdop#block13
                            p My plans have changed. Can I get a refund?
                            //- img(src="./images/sevenicon9.png", alt="")
                            svg(width='20')
                                use(xlink:href="./images/sprite/sprite.svg#9")
                        .sectionseven__block14.sectionseven__block.blockdop#block14
                            p What is Cancellation Protection?
                            //- img(src="./images/sevenicon9.png", alt="")
                            svg(width='20')
                                use(xlink:href="./images/sprite/sprite.svg#9")
                        .sectionseven__block15.sectionseven__block.blockdop#block15
                            p Can the weather impact our event?
                            //- img(src="./images/sevenicon9.png", alt="")
                            svg(width='20')
                                use(xlink:href="./images/sprite/sprite.svg#9")
        section.sectionmap
            .wrapper
                .mapblock
                    //- img(src="./images/map.jpg", alt="")



        section.sectionformcontent
            .wrapper
                .form
                    .form__content
                        .form__blocktitle
                            span.title#contact Contact Us
                            a(name="Contact Us")
                            .sectionfour__string
                        .form__blockdescription
                            p
                                | For number - 
                                span 
                                    a(href="tel:+18885851575") +1 888 585 1575
                                |  Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        form.form__blockform
                            .form__inputblock
                                input.form__input(type="text", placeholder="Phone" required)
                                input.form__input(type="email", placeholder="E-mail" required)
                            .form__textareablock
                                textarea( placeholder="Youre question" required)
                            .form__buttonblock
                                button.button.button_greyb#btncont(typre="submit")
                                            a(href="javascript: void(0);")
                                                span.order contact us

                
        section.footer
            .footer__block
                span 2018 WG Paradise. All Rights Reserved.
            
        
    

        include ../common/popaps.pug
        .wrapper
            .h
                h1 Arthur Salner
                h2.caption
                h2.caption2
            
        .j
            div      
                button(type='button', data-toggle='modal', data-target='#exampleModalLong')
                    | Launch demo modal
       
        #exampleModalLong.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLongTitle.modal-title Book it now
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    h8#exampleModalLongTitle.textpopap Fill in the fields and we will contact you.
                    .modal-body
                        <script src="//simplybook.it/v2/widget/widget.js"></script>
                        <script>var widget = new SimplybookWidget({"widget_type":"iframe","url":"https:\/\/wgp.simplybook.it","theme":"space","theme_settings":{"sb_base_color":"#d42853","timeline_show_end_time":"0","dark_font_color":"#474747","light_font_color":"#ffffff","hide_img_mode":"0","sb_busy":"#dad2ce","sb_available":"#d3e0f1"},"timeline":"flexible","datepicker":"top_calendar","is_rtl":false,"app_config":{"predefined":[]}});</script>
            
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes