.sectionthreecontent{
    .wrapper{
        padding: 0 0 0 0;
    }
}

.sectionthree{
    background-image: url(../images/fon3.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__blocktitle{
        padding-top: em(57);
        margin-bottom: em(56);
    }

    &__blockblocks{
        display: flex;
        padding-bottom: em(96);
    }

    &__block1{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        text-align: center;
        img{
            width: 53px;
            height: 66px;
            // margin-bottom: em(10);
        }
    }

    &__block2{
        text-align: center;
        margin-left: em(114);
        margin-right: em(114);
        img{
            width: 53px;
            height: 66px;
        }
    }

    &__block3{
        text-align: center;
        img{
            width: 56px;
            height: 56px;
            margin-bottom: em(10);
        }
    }

    &__blockminititle{
        margin-top: em(64);
        margin-bottom: em(17);
        span{
            font-size: em(18);
            font-weight: 700;
        }
    }

    &__blockdescription{
        width: em(234);
        span{
            line-height: em(23.9);
        }
    }
}


@media screen and (max-width: 1366px) { 
    .sectionthree{
       
    }
}


@media screen and (max-width: 767px) {
    .sectionthree{
        font-size: 2.271303vw;
        background-size: cover;
        &__blockblocks{
            flex-direction: column;
            padding-bottom: 0;
        }

        &__block2{
            margin-left: 0;
            margin-right: 0;
        }

        &__block1, &__block2, &__block3{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: em(100);
            border: 1px solid #dcd9e5; 
            padding: 0 10px; 
        }

        &__blockdescription{
            width: auto;
        }

        &__blockminititle{
            span{
                font-size: 12px;
            }
        }

        &__blockdescription{
            span{
                font-size: 15px;
            }
        }
    }
}

